<main class="container">
  <div class="row">
    <div class="col-4">
      <div class="input-group mb-3 mt-4">
        <input
          type="text"
          class="form-control"
          placeholder="Delivery ID"
          aria-label="Delivery ID"
          aria-describedby="button-addon2"
          [formControl]="deliveryId"
        />
        <button class="btn btn-primary" type="button" id="button-addon2">
          Submit
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <p>Package Details</p>
      <h4>Delivery Details</h4>
      <p><strong>Delivery Id</strong> {{ deliveryId.value }}</p>
    </div>
    <div class="col-6">
      <app-maps
        [locationFrom]="this.locationFrom"
        [locationTo]="this.locationTo"
      ></app-maps>
    </div>
    <div class="col-2">
      <div class="d-flex flex-column">
        <button class="btn btn-info mb-2">Picked Up</button>
        <button class="btn btn-warning mb-2">In Transit</button>
        <button class="btn btn-success mb-2">Delivered</button>
        <button class="btn btn-danger mb-2">Failed</button>
      </div>
    </div>
  </div>
</main>
